@media (max-width: 767.98px) {

  .navbar {
    justify-content: center;
  }

}

.navbar__black {
  background-color: black;
}

.navbar-title {
  color: white;
  margin-left: 10px;
}

.form-control__large {
  width: 500px;
}

